2 ~ 3명 미니 프로젝트 

```
1.	IT 프로젝트를 할 때 꼭 필요한 소양이 있는데 
	아무런 정보 없이 체험을 해서 
	다음 프로젝트에서 부터 조금씩 보정을 하는 것

	프로젝트 팀원과의 소통
		이전에는 대면 프로젝트 
		현재는 비대면 프로젝트 
```

서로 사용하는 용어를 잘 전달하고 들어야 한다.

	=========================================
	
현재는 우리는 용어에 익숙하지가 않다.

서로 내용을 풀어서 상대방이 알 수 있게 

설명하고

	-----------------------------------------

	듣는 사람은 그 내용이 잘 모르겠으면 
	몇 번이고 질문하고 들어야 해 <-- 
		프로젝트가 산으로 간다고 한다. 

	-----------------------------------------

	용어 ???? <--- 본인이 노력을 해야 하는 것

	=========================================

2. 소스를 따라서 치기 

	자기 맘대로 치기(변형) 하기 없기 

3. 소스를 구성할 때는 

```
	입력 : html - jsp - vo - service - dao - sql 
			html
			jsp - vo
			나눠서 연습 <-- 서민정 반장님 이케 시켜
			src - service - vo - dao - sql 
	전체조회
	조회
	수정
	삭제
```

4. 기술 보안

```sql
	쿼리문할 때 
	SELECT 구문에서만 사용하세요 (테이블 앨리어스, 컬럼 엘리어스)
		SELECT TO_CHAR(TO_DATE(A.HIREDATE, 'YYYY-MM-DD')) HIREDATE FROM EMP A;

	DML : INSERT, UPDATE, DELETE 에서는 
		테이블 앨리어스, 컬럼 엘리어스를 사용하지 않는다.
		컬럼에서는 오라클 함수를 사용하지 않는다.
		INSERT INTO EMP (HIREDATE) VALUES('YYYY/MM/DD');
		UPDATE EMP SET  HIREDATE = 'YYYY-MM-DD' WHERE EMPNO = '7369';
```